@model OnlineShop.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "آنلاین شاپ | ورود";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

            <main >
               <div class="login-div">

        @{
            if (ViewBag.RegisterResult != null)
            {
                if (ViewBag.RegisterResult == true)
                {
                                <div class="alert alert-success">
                                ثبت نام شما با موفقیت انجام شد
                                <br/>
                                میتوانید ورود کنید
                                </div>
                }
            }
        }


                    <!-- logo -->
                    <div>
                        <img src="~/Image/site/logo.svg">
                    </div>
                    <!-- login -->
                    <div>
                        <h1 class="font-medium font-weight">ورود</h1>
                        <p class="color-700">سلام!</p>

                        <form asp-controller="Account" asp-action="Login">
                            <input type="text" asp-for="Mobile">
                           <span asp-validation-for="Mobile" class="text-danger font-small"></span>
                            <input type="password" asp-for="Password">
                            <span asp-validation-for="Password" class="text-danger font-small"></span>

                            <button>ورود</button>
                        </form>
                        <p class="font-small color-700">ورود شما به معنای پذیرش شرایط <a href="https://digikala.com">دیجی‌کالا</a> و قوانین حریم‌ خصوصی است</p>

                       <p>
                           در صورتی که حساب کاربری ندارید روی لینک <a asp-controller="account" asp-action="register">ثبت نام</a> کلیک کنید
                       </p>

                    </div>
                </div>
            </main>

