    <footer class="w-100 pt-5">
        <hr>
        <div class="col-12">
            <img src="~/Image/site/digi.svg" alt="دیجی کالا" class="me-2">
            <a onclick="GoTop()"
                class="small p-2 rounded-3 text-decoration-none border-1 border-gray text-gray float-start ms-2">بازگشت
                به بالا<span class="fa fa-caret-up me-3"></span></a>
        </div>
        <h6 class="mt-3 text-gray pe-2">تلفن پشتیبانی 61930000-021 | 7 روز هفته، 24 ساعته پاسخگوی شما هستیم</h6>
        <div class="col-12 row text-center mt-5">
            <!-- item 1 -->
            <div class="col-2 m-auto">
                <img src="~/Image/site/express-delivery.svg" alt="تحویل اکسپرس">
                <br>
                <h6 class="small text-gray">امکان تحویل اکسپرس</h6>
            </div>
            <!-- item 2 -->
            <div class="col-2 m-auto">
                <img src="~/Image/site/cash-on-delivery.svg" alt="پرداخت در محل">
                <h6 class="small text-gray">امکان پرداخت در محل</h6>
            </div>
            <!-- item 3 -->
            <div class="col-2 m-auto">
                <img src="~/Image/site/support.svg" alt="پشتیبانی">
                <h6 class="small text-gray">7 روز هفته، 24 ساعته</h6>
            </div>
            <!-- item 4 -->
            <div class="col-2 m-auto">
                <img src="~/Image/site/days-return.svg" alt="بازگشت کالا">
                <h6 class="small text-gray">هفت روز ضمانت بازگشت کالا</h6>
            </div>
            <!-- item 5 -->
            <div class="col-2 m-auto">
                <img src="~/Image/site/original-products.svg" alt="کالای اصل">
                <h6 class="small text-gray">ضمانت اصل بودن کالا</h6>
            </div>

        </div>

        <!-- links -->
        <div class="col-12 row mt-5 p-2">

            <!-- ....... -->
            <div class="col-md-3 col-4">
                <h6>با دیجی کالا</h6>
                <a class="text-gray d-block text-decoration-none">گزارش تخلف در دیجی کالا</a>
                <a class="text-gray d-block text-decoration-none">تماس با دیجی کالا</a>
                <a class="text-gray d-block text-decoration-none">درباره دیجی کالا</a>

            </div>
            <!-- ....... -->
            <div class="col-md-3 col-4">
                <h6>خدمات مشتریان</h6>
                <a class="text-gray d-block text-decoration-none">پاسخ به پرسش های متداول</a>
                <a class="text-gray d-block text-decoration-none">رویه های بازگشت کالا</a>
                <a class="text-gray d-block text-decoration-none">حریم خصوصی</a>

            </div>
            <!-- ....... -->
            <div class="col-md-3 col-4">
                <h6>راهنمای خرید از دیجی کالا</h6>
                <a class="text-gray d-block text-decoration-none">نحوه ثبت سفارش</a>
                <a class="text-gray d-block text-decoration-none">رویه ارسال سفارش</a>
                <a class="text-gray d-block text-decoration-none">شیوه های پرداخت</a>

            </div>

            <!-- ....... -->
            <div class="col-md-3 col-12 justify-content-center">
                <h6>همراه ما باشید!</h6>
                <div class="w-100">
                    <span class="fab fa-instagram font-s32 text-gray ms-3"></span>
                    <span class="fab fa-twitter font-s32 text-gray ms-3"></span>
                    <span class="fab fa-linkedin font-s32 text-gray ms-3"></span>
                </div>
                <h6>با ثبت ایمیل، از جدید‌ترین تخفیف‌ها با‌خبر شوید</h6>
                <div class="col-12 row">
                    <input type="text" class="col-9 border-1 border-gray p-2 rounded-4" placeholder="ایمیل شما">
                    <a
                        class="col-2 rounded-4 bg-danger bg-opacity-75 p-2 text-white text-decoration-none text-center me-2 ">ثبت</a>
                </div>
            </div>

            <div class="col-12 mt-3">
                <div class="w-100 rounded-3 p-2 bg-navy">
                    <img src="~/Image/site/footerlogo2.png" height="52" alt="دانلود اپلیکیشن">
                    <h5 class="text-white d-inline-block">دانلود اپلیکیشن دیجی کالا</h5>
                    <img src="~/Image/site/coffe-bazzar.svg" height="52" alt="کافه بازار" class="float-start rounded-2 col-3">

                </div>

            </div>
        </div>

    </footer>
