 <header>
        <div class="d-inline">
            <img src="~/image/site/logo.svg" alt="دیجی کالا">
            <!-- search box -->
            <div id="search-box" class="search-box d-md-inline-block d-block  mt-2">
                <input type="text" placeholder="جستجو" class="w-100" >
                <span class="fas fa-search"></span>
            </div>

            <div id="register-box" class="d-inline float-start ps-2  mt-2">
                <button class="btn-login"><span class="fas fa-sign-in-alt"></span> ورود | ثبت نام</button>
                | <a class="a-cart text-black"><span class="fa fas fa-shopping-cart"></span></a>
            </div>

            <!-- menu -->
            <div id="top-menu" class="col-12 pt-3 pb-1">
                <nav class="d-inline">
                    <a class="me-4 text-decoration-none text-black small"><span class="fa fas fa-bars"></span>
                        <span class="d-md-inline-block d-none"> دسته بندی
                            کالاها</span>
                    </a>
                    <a asp-controller="Home" asp-action="Products" class="me-4 text-decoration-none text-black-50 small">
                        <span class="fa fas fa-store"></span>
                        <span class="d-md-inline-block d-none">محصولات</span>
                    </a>
                    <a class="me-4 text-decoration-none text-black-50 small"><span class="fa fas fa-fire"></span>
                        <span class="d-md-inline-block d-none">پرفروش ترین ها</span></a>
                    <a class="me-4 text-decoration-none text-black-50 small"><span class="fa fas fa-percentage"></span>
                        <span class="d-md-inline-block d-none">شگفت انگیرها</span>
                    </a>
                </nav>
                <a class="me-4 text-decoration-none text-black-50 small"><span class="fa fas fa-headset"></span>
                    <span class="d-md-inline-block d-none">سوالی دارید؟
                    </span>
                </a>
                <!-- <a>فروشنده شوید</a> -->

                <a class="ps-3 float-start text-decoration-none text-black-50 small"><span
                        class="fa fas fa-map-marker-alt"></span>
                    <span class="d-md-inline-block d-none">لطفا شهر خود را انتخاب کنید
                    </span>
                </a>
            </div>
        </div>

    </header>    