@{
    ViewData["Title"] = "آنلاین شاپ | خانه";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div style="padding-top:110px"></div>

    <!-- slider -->
    <partial name="slider.cshtml" />


    <!-- sell off -->
    <div class="col-12 mt-3">
        <div class="col-md-10 col-12 m-auto rounded-4 bg-danger p-3 row  justify-content-center">
            <div class="col-md-2 col-12 row">
                <img src="~/image/site/amazing-typo.svg" class="col-md-12 col-4 m-auto" alt="شگفت انگیز">
                <br>
                <img src="~/image/site/box.png" class="col-md-12 col-4 m-auto" alt="بیشترین تخفیف">
            </div>
            <div class="col-md-10 col-12 rounded-4 p-0 overflow-hidden row">
                <!-- product 1 -->
                <div class="col-md-3 col-12 special-product">
                    <div class="main-box row ">

                        <!-- img -->
                        <div class="col-md-12 col-4 p-1">
                            <img src="Images/product/05b71657ee37ebc2b3d8fc2aaa5bdc8896e61f2a_1655642005.jpg"
                                class="w-100" alt="محصول 1">
                        </div>

                        <!-- text -->
                        <div class="col-md-12 col-8">
                            <div>
                                <span class="sellOff">5%</span>
                                <a class="finalPrice"> 109,000 تومان</a>
                            </div>
                            <br>
                            <a class="small text-black">211,000 تومان</a>
                            <strike class="me-3 text-gray">320,000</strike>
                        </div>



                    </div>
                </div>
                <!-- product 2 -->
                <div class="col-md-3 col-12  special-product">
                    <div class="main-box row">
                        <!-- img -->
                        <div class="col-md-12 col-4 p-1">
                            <img src="Images/product/56038587913e443dbd17cc39033d8097a85d567a_1656936550.jpg"
                                class="w-100" alt="محصول 1">
                        </div>

                        <!-- text -->
                        <div class="col-md-12 col-8">
                            <div>
                                <span class="sellOff">15%</span>
                                <a class="finalPrice"> 512,000 تومان</a>
                            </div>
                            <br>
                            <a class="small text-black">488,000 تومان</a>
                            <strike class="me-3 text-gray">970,000</strike>
                        </div>


                    </div>
                </div>
                <!-- product 3 -->
                <div class="col-md-3 col-12 special-product">
                    <div class="main-box row">

                        <!-- img -->
                        <div class="col-md-12 col-4">
                            <img src="Images/product/6edebc85a156e4c5542c72c74c92c24a133ee3c7_1655185745.jpg"
                                class="w-100" alt="محصول 1">
                        </div>

                        <!-- text -->
                        <div class="col-md-12 col-8">
                            <div>
                                <span class="sellOff">10%</span>
                                <a class="finalPrice"> 820,000 تومان</a>
                            </div>
                            <br>
                            <a class="small text-black">120,000 تومان</a>
                            <strike class="me-3 text-gray">945,000</strike>
                        </div>


                    </div>
                </div>
                <!-- product 4 -->
                <div class="col-md-3 col-12 special-product">
                    <div class="main-box row">

                        <div class="col-md-12 col-4">
                            <img src="Images/product/e30d038aeb8c18dcfcf3d000f87a649382ed23fd_1652253237.jpg"
                                class="w-100" alt="محصول 1">
                        </div>

                        <div class="col-md-12 col-8">
                            <div>
                                <span class="sellOff">25%</span>
                                <a class="finalPrice"> 750,000 تومان</a>
                            </div>
                            <br>
                            <a class="small text-black">320,000 تومان</a>
                            <strike class="me-3 text-gray">1,250,000</strike>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- groups  -->
    <partial name="HomeGroup.cshtml" model="@ViewBag.TopGroups" />


    <!-- last products -->
    <div class="col-12 pt-5">
        <div class="col-10 m-auto overflow-hidden rounded-4 border-gray row">
            <!-- product box 1 -->
            <div class="col-md-3 col-12 p-3 shadow-sm">
                <h5>گوشی موبایل</h5>
                <h6 class="text-gray small">جدیدترین های دیجی کالا</h10>
                    <div class="col-12 row mt-5">
                        <img src="Images/product/fa5961b7d2a4efb180d686f6f69dd45381a4d3dd_1649056488.jpg" class="col-6"
                            alt="گوشی آیفن 13">
                        <img src="Images/product/e477016feaff5a6e6cf930517134eb3888c887ef_1656404674.jpg" class="col-6"
                            alt="گوشی سامسونگ">
                    </div>
                    <a class="d-block text-info text-center text-decoration-none mt-4"> مشاهده <span
                            class="fa fa-caret-left me-1"></span></a>
            </div>
            <!-- product box 2 -->
            <div class="col-md-3 col-12 p-3 shadow-sm">
                <h5>کیف و کاور گوشی</h5>
                <h6 class="text-gray small">جدیدترین های دیجی کالا</h10>
                    <div class="col-12 row mt-5">
                        <img src="Images/product/22330684bb73aef973d0b01cd27b711824ac333f_1643828234.jpg" class="col-6"
                            alt="قاب گوشی">
                        <img src="Images/product/644f4c768c90baa7189818b3b6ba1b818eb1665c_1644538381.jpg" class="col-6"
                            alt="قاب محافظ">
                    </div>
                    <a class="d-block text-info text-center text-decoration-none mt-4"> مشاهده <span
                            class="fa fa-caret-left me-1"></span></a>
            </div>
            <!-- product box 3 -->
            <div class="col-md-3 col-12 p-3 shadow-sm">
                <h5>هدفون، هدست و هندزفری</h5>
                <h6 class="text-gray small">جدیدترین های دیجی کالا</h10>
                    <div class="col-12 row mt-5">
                        <img src="Images/product/e4b2145a5e77bdc30aafff78bba4734798ac8d68_1620202335.jpg" class="col-6"
                            alt="ایرپاد">
                        <img src="Images/product/9ec365d579abd6e527480d37b1137bb5fd53cfbc_1641016372.jpg" class="col-6"
                            alt="هندزفری">
                    </div>
                    <a class="d-block text-info text-center text-decoration-none mt-4"> مشاهده <span
                            class="fa fa-caret-left me-1"></span></a>
            </div>
            <!-- product box 4 -->
            <div class="col-md-3 col-12  p-3 shadow-sm">
                <h5>ساعت هوشمند</h5>
                <h6 class="text-gray small">جدیدترین های دیجی کالا</h10>
                    <div class="col-12 row mt-5">
                        <img src="Images/product/97546044c5ff948776bbd8bba19d3593bb6ee651_1656936354.jpg" class="col-6"
                            alt="طرح اپل واچ">
                        <img src="Images/product/9a2f4ba8aaad117cbe779f75a7c785354aef7f90_1656931870.jpg" class="col-6"
                            alt="ساعت هوشمند">
                    </div>
                    <a class="d-block text-info text-center text-decoration-none mt-4"> مشاهده <span
                            class="fa fa-caret-left me-1"></span></a>
            </div>
        </div>
    </div>


@*@Html.Partial("ads.cshtml")*@
<partial name="ads.cshtml" />
