@model OnlineShop.Models.Group

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>Group</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" autocomplete="off" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Img" class="control-label"></label>
                @*<input asp-for="Img" class="form-control" />*@
                <input type="file" name="imgFile" asp-for="Img" class="form-control" onchange="imgLoad(this)" />

                <img id="img-box" src="" class="img-preview" width="150"  />

                <span asp-validation-for="Img" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NotShow" /> @Html.DisplayNameFor(model => model.NotShow)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript">

   //function imgLoad(input){
   //     let _imgBox=document.getElementById("img-box");

   //     if(input.files && input.files[0]){

   //         let reader = new FileReader();

   //         reader.onload=function(e){
   //             _imgBox.setAttribute('src',e.target.result);
   //         }

   //         reader.readAsDataURL(input.files[0]);
   //     }
   //}

   function imgLoad(input){
        if(input.files && input.files[0]){

            let reader = new FileReader();

            reader.onload=function(e){

                $('#img-box').attr('src',e.target.result)
            }

            reader.readAsDataURL(input.files[0]);

        }
   }

</script>